.container {
  width: 100%;
}

table {
  width: 600px;
  height: 358px;
  background: #ffffff;
  border-radius: 10px;
  font-family: "Archivo", sans-serif;
}

th,
td {
  text-align: center;
  border-bottom: 1px solid black;
}

table,
td {
  border-collapse: collapse;
}

tr {
  height: 50px;
}

td {
  height: 10px;
}

.id {
  width: 10px;
}

table p {
  text-align: center;
}
